
<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">Checker report</div>
    <div class="panel-body">
        <div class="alert alert-success" role="alert"><strong>Next system update in <span>{{updateCounter}}</span> seconds...</strong></div>
        <div class="row">
            <div class="col-xs-12">
                <table id="participant-check-in" class="table table-hover">
                    <thead>
                        <tr class="active">
                            <th data-field="#" data-sortable="true">#</th>
                            <th data-field="Name" data-sortable="true">Name</th>
                            <th data-field="Status" data-sortable="true">Status</th>
                            <th data-field="Duration" data-sortable="true">Duration</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>