<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">Check in</div>
    <div class="panel-body">
        <table class="table table-hover" *ngIf="checkInReportLoaded">
            <thead>
                <tr class="active">
                    <th>#</th>
                    <th>Name</th>
                    <th>Check In Status</th>
                    <th>Duration</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let check of checkinsData; let i = index">
                    <th>{{i+1}}</th>
                    <th>{{check.name}}</th>
                    <th [ngClass]="{'checkedIn': check.checkedIn, 'checkedOut': !check.checkedIn}">{{check.checkedIn | checkattendence}}</th>
                    <th>{{check.duration | humanizetime}}</th>
                    <th>{{check.time | tolocaltime}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>