/*--------------------------------------------Title section----------------------*/
$titleSectionColor: #222;
$arrowColor: #666;
$titlePadding: 10px;
$arrowWidth: 13px;
$marginUpDown: 10px;
/*--------------------------------------------Title section----------------------*/
/*--------------------------------------------Pagination Section----------------------*/
$textColor: #6495ED;
$paginationWidth: 45px;
/*--------------------------------------------Pagination Section----------------------*/