.registrate {
    label span{
        color: red;
    }
    div.validation {
        input:focus, select.form-control:focus {
            box-shadow: 0 0 5px rgba(192, 11, 0, 1);
            border: 1px solid rgba(192, 11, 0, 1);
        }
        small{ color: red }
    }
}