@import './_config.scss';
@import './pageSections/_options';
@import './pageSections/_mixins';
@import './pageSections/_media';

*
{
    box-sizing: border-box;
    font-family: 'PT Sans Caption', sans-serif, 'arial', 'Times New Roman';
}


body
{
    @import './pageSections/_navbar.scss';
    @import './pageSections/bootstrap-tagsinput';
    @import './pageSections/bootstrap-datetimepicker.min';
    background-color: #C9C9D6;
    .chart-controls{
        margin-top: 10px; 
    }
    .panel-group{
        margin-bottom: 5px;
    }

    table th:first-of-type, table td:first-of-type{
        text-align: center;
    }
    .units-wrapper{
        .unitsStyle{
            float: left;
            width: 180px;
            height: 160px;
            position: relative;
            margin-right: 5px;
            border: 1px solid #AAA;
            canvas{
                width: 100%;
                height: 100%;
            }
            .caption-header, .caption-footer{
                position: absolute;
                height: 20px;
                line-height: 20px;
                text-align: left;
                width: 100%;
                background: #DDD;
            }
            .caption-footer{
                bottom: 0px;
            }
        }
    }
    @include scrollStyle($width: 10px, $borderRadius: 5px, $background: rgba(35, 38, 78, 0.8), $inactive: rgba(35, 38, 78, 0.4));
}
html, body {
    height: 100%;
}
@import 'login.scss';




// body::-webkit-scrollbar
// {
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//     border-radius: 5px;
//     background-color: #F5F5F5;
//     width: 8px;
// }
// body::-webkit-scrollbar-thumb
// {
//     border-radius: 10px;
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
//     background-image: -webkit-gradient(linear,
//                      left bottom,
//                      left top,
//                      color-stop(0.44, rgb(125, 125, 198)),
//                      color-stop(0.72, rgb(99, 99, 158)),
//                      color-stop(0.86, rgb(75, 75, 119)));
//   /*background-color: #555;*/
// }

/*--------------------------------------------FrameWork------------------------*/
    // .container-floud { padding: 0px 20px; } /*done*/

    // .SectionDivision
    // {
    //     background: #253752;
    //     color: white;
    //     padding: 10px;
    //     margin-top: 10px;
    //     margin-bottom: 5px;
    // }
    // .SectionDivision h2
    // {
    //     margin: 0px;
    //     padding: 0px;
    // }

    // table .post-body tr th
    // {
    //   line-height: 40px;
    // }
    // table .cat-body tr th
    // {
    //   line-height: 40px;
    // }
    // a.X-REF
    // {
    //   color: #337AB7;
    // }
    // a.X-REF:hover
    // {
    //   color: red;
    // }


    // h1,h2,h3,h4,h5,h6 /*done*/
    // {
    //   padding: 0px;
    //   margin: 0px;
    // }

    // .overlay { position: relative; z-index: 20; } /*done*/
    // .ground-color { background: white; }  /*done*/
    // .item-bg-color { background: #EAEAEA } /*done*/

    /* Padding Section*/
        .padding-top { padding-top: 10px; } /*done*/
        .padding-bottom { padding-bottom: 10px; }   /*done*/
        .padding-vertical { padding-top: 10px; padding-bottom: 10px; }
        .padding-horizontal { padding-left: 10px; padding-right: 10px; }
        .padding-all { padding: 10px; }   /*done*/

        .no-padding-left { padding-left: 0px; }    /*done*/
        .no-padding-right { padding-right: 0px; }   /*done*/
        .no-vertical-padding { padding-top: 0px; padding-bottom: 0px; }
        .no-horizontal-padding { padding-left: 0px; padding-right: 0px; }
        .no-padding { padding: 0px; }   /*done*/
    /* Padding Section*/

    /* Margin section */
        .margin-top { margin-top: 10px; }   /*done*/
        .margin-bottom { margin-bottom: 10px; } /*done*/
        .margin-right { margin-right: 10px; } /*done*/
        .margin-left { margin-left: 10px; } /*done*/
        .margin-horizontal { margin-left: 10px; margin-right: 10px; } /*done*/
        .margin-vertical { margin-top: 10px; margin-bottom: 10px; } /*done*/
        .margin-all { margin: 10px; }   /*done*/
        .no-margin { margin: 0px; }   /*done*/

        .no-vertical-margin { margin-top: 0px; margin-bottom: 0px; }
        .no-horizontal-margin { margin-left: 0px; margin-right: 0px; }

        .inside-col-shrink { margin: 0px 20px; }    /*done - For the inside sections that has also Title section*/
    /* Margin section */

    hr
    { margin: 0px; padding: 0px; border-top: 1px dashed #999; }
/*--------------------------------------------FrameWork------------------------*/
